* {
	box-sizing: border-box;
}

::-webkit-scrollbar { 
    display: none; 
}

body {
	background-image: url('images/squairy_light.png');
	margin: 0;
	/*background-color: rgba(242, 242, 242, 1.0000)*/
}

.container {
	height: 100%;
	width: 100%;
	/*background-color: rgba(0, 0, 0, 0.5);*/
	padding-top: 100px;
}

.list, .input, .footer {
	max-width: 600px;
}

.list {
	overflow-y: auto;
	height: 100%;
	min-height: 100px;
	max-height: 600px;
	background-color: rgba(254, 255, 246, 0.5);
	margin-left: auto;
	margin-right: auto;
	/*font-family: 'Cardo', serif;*/
	font-family: 'Rokkitt', serif;
	color: white;
	line-height: 40px;
	position: relative;
	padding-top: 20px;
	padding-left: 0;
	text-align: center;
	padding-left: 26px;
	padding-right: 26px;
}

.header {
	padding-top: 20px;
	height: 100px;
	width: 100%;
	position: absolute;
	top: 0;
}

.item {
	height: 150px;
	min-width: 150px;
	/*margin-left: 0 auto;
	margin-right: 0 auto;*/
	display: inline-block;
	position: relative;
	margin-top: 8px;
	padding-top: 60px;
	font-size: 2em;
	/*float: left;
	margin-right: 10px;
	margin-left:20px;*/
	margin-right: 4px;
	margin-left: 4px;
}

.item span {
	padding-left: 8px;
	padding-right: 8px;
}

.item {
	background-color: rgba(132, 175, 182, 0.8);
	text-decoration: none;
}

.remove {
	position: absolute;
	bottom: 0;
	height: 35px;
	width: 100%;
	font-size: 18px;
	display: none;
}
.delete {
	text-align: left;
	padding-left: 15px;
}

.keep {
	text-align: right;
	padding-right: 15px;
}

.keep, .delete {
	width: 50%;
	height: 35px;
	background-color: red;
	float: left;
	color: white;
	background-color: rgba(0, 0, 0, 0.5);
}

/*.keep {
	color: green;
}

.delete {
	color: red;
}*/

.complete, .complete-show {
	background-color: rgba(86, 86, 86, 0.5);
}

.complete {
	text-decoration: line-through;
}

.destroy {
	background-color: rgba(241, 0, 20, 0.7);
	text-decoration: line-through;
}

.show {
	background-color: rgba(170, 213, 220, 0.8);
	text-decoration: none;
}


.input {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	background-color: rgba(254, 255, 246, 0.5);
	height: 90px;
	position: relative;
	text-align: center;
}


.submit, .reset {
	height: 30px;
	width: 580px;
	background-color: rgba(132, 175, 182, 0.8);
	float: left;
	font-family: 'Rokkitt', serif;
	color: white;
	padding-top: 3px;
	border: none;
	font-size: 1.5em;
}

.reset:hover {
	background-color: rgba(241, 0, 20, 0.7);
}

.reset:focus {
	outline: none;
	background-color: rgba(86, 86, 86, 0.5);
}

input , .submit, .reset {
	margin-top: 10px;
	margin-left: 10px;
}

input {
	border: none;
	height: 30px;
	width: 580px;
	float: left;
	border: 1px solid rgba(170, 213, 220, 1);

}

input:focus {
	outline: none;
	border: 2px solid rgba(170, 213, 220, 1);
}

.footer {
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(254, 255, 246, 0.5);
	height: 30px;
	position: relative;
}
