* {
	box-sizing: border-box;
}

::-webkit-scrollbar { 
    display: none; 
}

body {
	background-image: url('images/squairy_light.png');
	margin: 0;
	/*background-color: rgba(242, 242, 242, 1.0000)*/
}

.container {
	height: 100%;
	width: 100%;
	/*background-color: rgba(0, 0, 0, 0.5);*/
	padding-top: 100px;
}

.list, .input, .footer {
	width: 600px;
}

.list {
	overflow-y: auto;
	height: 100%;
	min-height: 100px;
	max-height: 600px;
	background-color: rgba(254, 255, 246, 0.5);
	margin-left: auto;
	margin-right: auto;
	font-family: 'Cardo', serif;
	color: white;
	font-style: italic;
	line-height: 40px;
	position: relative;
	padding-top: 20px;
	padding-left: 0;
	text-align: center;
}

.header {
	padding-top: 20px;
	height: 100px;
	width: 100%;
	position: absolute;
	top: 0;
}

.item {
	height: 150px;
	width: 150px;
	background-color: rgba(38, 220, 180, 0.8);
	margin-left: 0 auto;
	margin-right: 0 auto;
	margin-top: 10px;
	display: inline-block;
	padding-top: 55px;
	position: relative;
	font-size: 25px;
}

.remove {
	position: absolute;
	bottom: 0;
	height: 35px;
	width: 100%;
	display: none;
}

.keep, .delete {
	width: 50%;
	height: 35px;
	background-color: red;
	float: left;
	color: white;
	background-color: rgba(0, 0, 0, 0.5);
}

/*.keep {
	color: green;
}

.delete {
	color: red;
}*/

.complete {
	background-color: rgba(86, 86, 86, 0.5);
	text-decoration: line-through;
}

.complete_add {
	background-color: rgba(86, 86, 86, 0.5);
	text-decoration: line-through;
}

.destroy {
	background-color: rgba(241, 0, 20, 0.7);
	text-decoration: line-through;
	color: rgba(86, 86, 86, 0.5);;
}

.destroy_add {
	background-color: rgba(241, 0, 20, 0.7);
	text-decoration: line-through;
	color: rgba(86, 86, 86, 0.5);;
}

.input {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	background-color: rgba(254, 255, 246, 0.5);
	height: 60px;
	position: relative;
	text-align: center;
}

input {
	margin-top: 15px;
	border: none;
	height: 30px;
	width: 500px;

}

input:focus {
	outline: none;
	border: 1px solid rgba(38, 220, 180, 1.0000);
}

.footer {
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(254, 255, 246, 0.5);
	height: 30px;
	position: relative;
}
